.Player {
  margin: auto;
}

.Form {
  display: grid;
  grid-template-columns: 70% 30%;
}

.Button {
  display: flex;
  justify-content: center;
}
.Form input {
  border: 2px solid black;
}
.Form button {
  text-align: left;
}

.Url {
  box-sizing: border-box;
  width: 80%;
  margin: auto;
}
.Error {
  font-weight: bold;
  color: red;
  font-size: 20px;
  border: 2px dotted red;
  margin: 10px auto;
  padding: 5px;
  width: 60%;
}

.Controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Control {
  padding: 15px;
  width: 30px;
  height: 30px;
}

.Slidecontainer {
  flex-grow: 2;/* Width of the outside container */
}

.Slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.Slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
